Repository softlayer/githubio_source, pull requests merged in 2020-04, with the labels that each got.

#329 20200403 Release
  content/python/vlanTagging.md
  content/reference/datatypes/SoftLayer_Hardware_SecurityModule/_index.md
  content/reference/datatypes/SoftLayer_Hardware_SecurityModule750/_index.md
  content/reference/datatypes/SoftLayer_Hardware_Server/_index.md
  content/reference/datatypes/SoftLayer_Network_LBaaS_L7Policy/_index.md
  content/reference/datatypes/SoftLayer_User_Permission_Role/_index.md
  content/reference/services/SoftLayer_Hardware/_index.md
  content/reference/services/SoftLayer_Hardware/captureImage.md
  content/reference/services/SoftLayer_Hardware_Router/_index.md
  content/reference/services/SoftLayer_Hardware_Router/captureImage.md
  content/reference/services/SoftLayer_Hardware_SecurityModule/_index.md
  content/reference/services/SoftLayer_Hardware_SecurityModule/captureImage.md
  content/reference/services/SoftLayer_Hardware_SecurityModule/getCaptureEnabledFlag.md
  content/reference/services/SoftLayer_Hardware_SecurityModule/testRaidAlertService.md
  content/reference/services/SoftLayer_Hardware_SecurityModule750/_index.md
  content/reference/services/SoftLayer_Hardware_SecurityModule750/captureImage.md
  content/reference/services/SoftLayer_Hardware_SecurityModule750/getCaptureEnabledFlag.md
  content/reference/services/SoftLayer_Hardware_SecurityModule750/testRaidAlertService.md
  content/reference/services/SoftLayer_Hardware_Server/_index.md
  content/reference/services/SoftLayer_Hardware_Server/captureImage.md
  content/reference/services/SoftLayer_Hardware_Server/getCaptureEnabledFlag.md
  content/reference/services/SoftLayer_Hardware_Server/testRaidAlertService.md
  content/reference/services/SoftLayer_Network_LBaaS_L7Policy/_index.md
  content/reference/services/SoftLayer_User_Customer/_index.md
  content/reference/services/SoftLayer_User_Customer/getDefaultAccount.md
  content/reference/services/SoftLayer_User_Customer_OpenIdConnect/_index.md
  content/reference/services/SoftLayer_User_Customer_OpenIdConnect/getDefaultAccount.md
  content/reference/services/SoftLayer_User_Permission_Role/addUser.md
  content/reference/services/SoftLayer_User_Permission_Role/linkGroup.md
  content/reference/services/SoftLayer_User_Permission_Role/removeUser.md
  content/reference/services/SoftLayer_User_Permission_Role/unlinkGroup.md
  content/release_notes/2020/20200403.md
Labels: Release

#333 GitHub actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: enhancement

#331 Add vs usage graph.
  content/php/UsageVirtualServer.php.md
Labels: Documentation

#335 20200414 release
  content/reference/datatypes/SoftLayer_User_Customer_Notification_Virtual_Guest/_index.md
  content/reference/services/SoftLayer_User_Customer_Notification_Virtual_Guest/_index.md
  content/reference/services/SoftLayer_User_Customer_Notification_Virtual_Guest/createObjects.md
  content/reference/services/SoftLayer_User_Customer_Notification_Virtual_Guest/findByGuestId.md
Labels: Release

#336 20200421 Release
  content/reference/datatypes/SoftLayer_Catalyst_Enrollment_Request/_index.md
  content/reference/datatypes/SoftLayer_Catalyst_Enrollment_Request_MarketingConsent/_index.md
  content/reference/datatypes/SoftLayer_Container_Account_ProofOfConcept_Contact_Customer/_index.md
  content/reference/datatypes/SoftLayer_Container_Account_ProofOfConcept_Contact_Ibmer_Requester/_index.md
  content/reference/datatypes/SoftLayer_Container_Account_ProofOfConcept_Contact_Ibmer_Technical/_index.md
  content/reference/datatypes/SoftLayer_Container_Bandwidth_Usage/_index.md
  content/reference/datatypes/SoftLayer_Network_Bandwidth_Usage_Detail/_index.md
  content/reference/datatypes/SoftLayer_Product_Item_Price/_index.md
  content/reference/datatypes/SoftLayer_Product_Package_Order_Configuration/_index.md
  content/reference/datatypes/SoftLayer_Product_Package_Server/_index.md
  content/reference/datatypes/list.html
  content/reference/services/SoftLayer_Account/getBandwidthList.md
  content/reference/services/SoftLayer_Account_Historical_Report/getAccountHostUptimeGraphData.md
  content/reference/services/SoftLayer_Account_Historical_Report/getAccountHostUptimeSummary.md
  content/reference/services/SoftLayer_Account_Historical_Report/getAccountUrlUptimeGraphData.md
  content/reference/services/SoftLayer_Account_Historical_Report/getAccountUrlUptimeSummary.md
  content/reference/services/SoftLayer_Product_Item_Price/_index.md
  content/reference/services/SoftLayer_Product_Item_Price/getPriceType.md
  content/release_notes/2020/20200421.md
Labels: Release

#337 Added links to release notes
  content/release_notes/2020/20200421.md
Labels: Release
