Repository softlayer/githubio_source, pull requests merged in 2021-04, with the labels that each got.

#466 Add event log curl examples
  content/rest/events_logs.md
Labels: Documentation

#471 20210409 Release
  content/reference/services/SoftLayer_Network_Storage/_index.md
  content/reference/services/SoftLayer_Network_Storage/getReplicationTimestamp.md
  content/reference/services/SoftLayer_Network_Storage/initiateOriginVolumeReclaim.md
  content/reference/services/SoftLayer_Network_Storage/initiateVolumeCutover.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/_index.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/getReplicationTimestamp.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/initiateOriginVolumeReclaim.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/initiateVolumeCutover.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/_index.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/getReplicationTimestamp.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/initiateOriginVolumeReclaim.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/initiateVolumeCutover.md
  content/reference/services/SoftLayer_Network_Subnet_IpAddress_Global/_index.md
  content/reference/services/SoftLayer_Network_Subnet_IpAddress_Global/route.md
  content/reference/services/SoftLayer_Network_Subnet_IpAddress_Global/unroute.md
  content/release_notes/2021/20210409.md
Labels: Release

#474 added a contributing guide
  CONTRIBUTING.md
  README.md
Labels: Documentation

#473 #Add event logs java example
  content/java/EventLogs.java.md
Labels: Documentation, Example

#475 20210421 Release Notes
  content/reference/datatypes/SoftLayer_Billing_Order_Item/_index.md
  content/reference/datatypes/SoftLayer_Container_Virtual_Guest_ConsoleData/_index.md
  content/reference/datatypes/SoftLayer_Network_Gateway_Member_Attribute/_index.md
  content/reference/datatypes/SoftLayer_Virtual_Guest/_index.md
  content/reference/datatypes/SoftLayer_Virtual_Guest_BrowserConsoleAccessLog/_index.md
  content/reference/datatypes/SoftLayer_Workload_Citrix_Workspace_Order_Container/_index.md
  content/reference/datatypes/list.html
  content/reference/services/SoftLayer_Network_Gateway/_index.md
  content/reference/services/SoftLayer_Network_Gateway/refreshGatewayLicense.md
  content/reference/services/SoftLayer_Virtual_Guest/_index.md
  content/reference/services/SoftLayer_Virtual_Guest/getBrowserConsoleAccessLogs.md
  content/reference/services/SoftLayer_Virtual_Guest/getConsoleData.md
  content/release_notes/2021/20210421.md
Labels: Release

#478 20210430 Release
  content/reference/datatypes/SoftLayer_Network_Storage/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Backup/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Backup_Evault/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Backup_Evault_Version6/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Hub/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Hub_Swift/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Hub_Swift_Container/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Hub_Swift_Version1/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Iscsi/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Iscsi_EqualLogic_Version3/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Iscsi_EqualLogic_Version3_Replicant/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Iscsi_EqualLogic_Version3_Snapshot/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Nas/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Replicant/_index.md
  content/reference/datatypes/SoftLayer_Network_Storage_Snapshot/_index.md
  content/reference/datatypes/SoftLayer_Virtual_Guest_BrowserConsoleAccessLog/_index.md
  content/reference/services/SoftLayer_Network_Storage/_index.md
  content/reference/services/SoftLayer_Network_Storage/getMountPath.md
  content/reference/services/SoftLayer_Network_Storage/getNetworkMountPath.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/_index.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/getMountPath.md
  content/reference/services/SoftLayer_Network_Storage_Backup_Evault/getNetworkMountPath.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/_index.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/getMountPath.md
  content/reference/services/SoftLayer_Network_Storage_Iscsi/getNetworkMountPath.md
  content/release_notes/2021/20210430.md
Labels: Release
